numpy>=1.21.0,<1.25.0
requests
scikit-learn
spacy
beautifulsoup4
matplotlib
pandas
nltk
tqdm
unidecode
gdown
tldextract
scipy
fvcore
lxml
psutil
Pillow>=8.4.0,<10.0.0
flask
flask-cors
pycocotools
opencv-python
opencv-contrib-python
torch>=1.9.0
torchvision>=0.10.0
